.freqDiv {
    margin: 2rem 0;
    text-align: center;

    .freqLabel {
        margin: 15px;
        font-size: 2rem;
        position: relative;
        top: 15px;     
    }

    .freqDiscount {
        color: #F00;
        font-size: 1.2rem;
        position: relative;
        top: 0;
        left: 5.5em;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 32px;
    border: 2px solid #000;
    box-shadow: 3px 3px 3px #222 inset;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0px;
    bottom: 0px;
    background-color: #956ef0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 3px 2px 2px #222;
}
 
input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}